[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pytest = "*"
requests = "*"
smart-open = "*"
spacy = "*"
torch = "*"
tqdm = "*"
sentence-transformers = "*"
faiss-cpu = "*"
transformers = "*"
progress = "*"
progressbar2 = "*"
jupyter = "*"
pandas = "*"
openai = "*"
streamlit = "*"
mock = "*"

[dev-packages]

[requires]
python_version = "3.9"
